.row-fluid
  .page-header.clearfix
    .span10.logo
      %h1
        Language
        %small |Tools
    .span2
      %a.btn.btn-primary.btn-login{:href => "#"} Login
.row-fluid
  .well.clearfix.video
    .span6
      .thumbnail
        = image_tag 'video_placeholder.jpg'
    .span6.intro
      %h2 Learning Languages
      %h3 Just Got a Whole Lot Easier!
      %a.btn.btn-primary.btn-lead{:href => "#"}
        Start Learning
        %strong Now!
.row-fluid
  .span12.transparent-rounded